05 17 * * * backup rm -rf /home/backup/influxdb/*; influxd backup -portable -database telegraf /home/backup/influxdb
05 17 * * * backup duplicity --no-encryption full /home/backup/influxdb/ rsync://{{ github_username }}@backup.{{ fqdn }}//home/{{ github_username }}/influxdb/
30 21 * * * backup duplicity --no-encryption incremental /home/backup/influxdb/ rsync://{{ github_username }}@backup.{{ fqdn }}//home/{{ github_username }}/influxdb/
05 2 28 * * backup duplicity remove-older-than 1M rsync rsync://{{ github_username }} @ {{ fqdn }}//home/{{ github_username }}/influxdb/
