00 22 * * * backup ssh {{ github_username }}@backup.{{ fqdn }} mkdir mysql
00 22 * * *  backup  mysqldump agama > /home/backup/mysql/agama.sql
00 22 * * 7  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://{{ github_username }}@backup.{{ fqdn }}//home/{{ github_username }}/mysql/
30 22 * * *  backup  duplicity --no-encryption incremental /home/backup/mysql/ rsync://{{ github_username }}@backup.{{ fqdn }}//home/{{ github_username }}/mysql/
10 00 28 * * backup duplicity remove-older-than 1M rsync://{{ github_username }}@backup.{{ fqdn }}//home/{{ github_username }}/mysql/
